---
import { astroI18n, t, l } from "astro-i18n";

import BaseLayout from "@/layouts/BaseLayout.astro";
import { classNames } from "@/utils";
import { getI18nMarkdown } from "@/utils/i18n";
import dayjs from "@/utils/dayjs";
import Badge from "@/components/Badge";
import { RatingStar } from "@/components/RatingStar";

astroI18n.init(Astro);

const { slug } = Astro.params;
if (!slug) {
  return Astro.redirect("/404");
}

const entry = await getI18nMarkdown("projects", slug as any, {
  url: Astro.url,
});

const { data } = entry;
console.log(data);
const { Content } = await entry.render();
---

<BaseLayout title={data.title}>
  <main class="flex flex-col flex-1 h-full min-h-screen">
    <div
      class="bg-yellow-50 w-full pt-24 pb-12 px-10 h-full min-h-[50vh] flex flex-col items-center justify-center"
    >
      <header
        class="flex flex-col items-start justify-center gap-6 w-full max-w-5xl"
      >
        <a
          href={l("/", undefined)}
          class={classNames(
            "btn font-light text-sm focus:outline",
            "text-yellow-600 border-yellow-500",
            "hover:bg-yellow-500 hover:text-white",
            "focus:bg-yellow-500 focus:text-white",
            "focus:ring-2 focus:ring-yellow-600",
            "focus:ring-offset-yellow-100 focus:ring-offset-4"
          )}
        >
          <i class="fa fa-arrow-left"></i>
          กลับไปยังหน้าผลงาน
        </a>
        <b class="text-gray-500 -mb-4">ผลงาน</b>
        <h1 class="text-yellow-600">{data.title}</h1>
        {
          data.gitUrl && (
            <div>
              <a
                href={data.gitUrl}
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center gap-2 hover:underline text-gray-800"
              >
                <i class="fa-brands fa-github" />
                <span class="text-sm">ดูบน Github</span>
              </a>
            </div>
          )
        }
        <div class="flex flex-row gap-4">
          {data.tags.map((tag) => <Badge tag={tag} />)}
        </div>
        <div
          class="text-sm text-gray-700 opacity-90 items-center grid gap-4 grid-cols-[max-content_1fr]"
        >
          <b title="วันที่เริ่มเผยแพร่ผลงานสู่สาธารณะ">วันที่เริ่มเผยแพร่</b>
          <span title="วันที่เริ่มเผยแพร่ผลงานสู่สาธารณะ"
            >{dayjs(data.releaseDate).add(543, "year").format("LL")}
          </span>
          <b title="ประเมินความง่าย-ยากของงาน จากประสบการณ์การทำงานในปัจจุบัน"
            >ประเมินความยาก-ง่ายของงาน
          </b>
          <RatingStar
            title="ประเมินความง่าย-ยากของงาน จากประสบการณ์การทำงานในปัจจุบัน"
            rating={data.rating}
          />
        </div>
      </header>
    </div>
    <div class="flex justify-center p-10">
      <article
        id="project-contents"
        class="w-full max-w-5xl space-y-4 md:space-y-6"
      >
        <Content />
      </article>
    </div>
  </main>
</BaseLayout>
