---
export interface Props {
  src: string;
  alt: string;
  width?: number;
  height?: number;
  href: string;
}

const { alt, href, src, height = 60, width = 60 } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="opacity-80 hover:opacity-100 scale-75 hover:scale-90 md:scale-100 md:hover:scale-110 transform duration-150 ease-in"
  title={alt}
>
  <img draggable="false" src={src} alt={alt} width={width} height={height} />
</a>
