---
import { classNames } from "@/utils";
import { Navbar } from "@/components/Navbar";
import "@fontsource/mitr/300.css";
import "@fontsource/mitr/400.css";
import "@fontsource/mitr/500.css";
import "@fontsource/mitr/600.css";

import "@fortawesome/fontawesome-free/css/fontawesome.css";
import "@fortawesome/fontawesome-free/css/solid.css";
import "@fortawesome/fontawesome-free/css/brands.css";

import "../styles/globals.css";
import { astroI18n, l, t } from "astro-i18n";
import { HrefLangs } from "astro-i18n/components";
import type { NavigationItem } from "@/components/Navbar/types";

type PreloadImageLink = {
  href: string;
};

interface Props {
  title: string;
  transparent?: boolean;
  preloadImages?: PreloadImageLink[];
}

const language = astroI18n.langCode;
const { title, preloadImages = [] } = Astro.props;
const pathname = l(Astro.url.pathname);

const navigation: NavigationItem[] = [
  { name: t("nav.home"), href: l("/", undefined) },
  { name: t("nav.projects"), href: l("/projects", undefined) },
];
---

<html lang={language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} - Portfolio</title>
    <HrefLangs />
    {
      preloadImages.map((image) => (
        <link rel="preload" href={image.href} as="image" />
      ))
    }
  </head>
  <body class="font-light flex flex-col h-full min-h-screen">
    <Navbar navigation={navigation} currentRoute={pathname} client:load>
      <span>Nav</span>
    </Navbar>
    <div class={"h-full flex-1 flex-grow"}>
      <slot />
    </div>
  </body>
</html>
