---
import { Navbar } from "@/components/Navbar";
import "@fontsource/mitr/300.css";
import "@fontsource/mitr/400.css";
import "@fontsource/mitr/500.css";
import "@fontsource/mitr/600.css";

import "@fontsource/playfair-display";

import "@fortawesome/fontawesome-free/css/fontawesome.css";
import "@fortawesome/fontawesome-free/css/solid.css";
import "@fortawesome/fontawesome-free/css/brands.css";

import "../styles/index.css";

import { astroI18n, l, t } from "astro-i18n";
import { HrefLangs } from "astro-i18n/components";
import type { NavigationItem } from "@/components/Navbar/types";

type PreloadImageLink = {
  href: string;
};

interface Props {
  title: string;
  preloadImages?: PreloadImageLink[];
}

const language = astroI18n.langCode;
const { title, preloadImages = [] } = Astro.props;
const pathname = l(Astro.url.pathname);

const navigation: NavigationItem[] = [
  { name: t("nav.home"), href: l("/home", undefined) },
  { name: t("nav.about"), href: l("/about", undefined) },
  { name: t("nav.projects"), href: l("/projects", undefined) },
];
---

<html lang={language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} - Portfolio</title>
    <HrefLangs />
    {
      preloadImages.map((image) => (
        <link rel="preload" href={image.href} as="image" />
      ))
    }
  </head>
  <body class="font-light flex flex-col h-full min-h-screen">
    <Navbar navigation={navigation} serverRoute={pathname} client:load />
    <div id="swup" class={"h-full flex-1 flex-grow"}>
      <slot />
    </div>
    <footer
      class={`${
        pathname === "/" ? "hidden" : "flex"
      } border-yellow-100 bg-yellow-100/30 text-gray-700 space-y-2 text-sm flex-col items-center justify-center h-40`}
    >
      <b>จัดทำเว็บไซต์โดย นายศักดิธัช ธนาสดใส</b>
      <a
        target="_blank"
        rel="noreferrer noopener"
        class="underline text-yellow-500 hover:text-yellow-600"
        href="https://github.com/lemasc/m6-portfolio"
      >
        ดู Source Code บน Github
      </a>
    </footer>
    <script>
      import { swupStore } from "@/utils/swup";
      import { initSwup } from "@/utils/swup.client";
      import { register } from "@/components/customElements";
      import smoothscroll from "smoothscroll-polyfill";
      smoothscroll.polyfill();

      const swup = initSwup();
      const footer = document.querySelector("footer");
      swup.on("contentReplaced", () => {
        if (swup.currentPageUrl === "/") {
          footer?.classList.add("hidden");
          footer?.classList.remove("flex");
        } else {
          footer?.classList.remove("hidden");
          footer?.classList.add("flex");
        }
      });
      swupStore.setState({ swup });
      register();
    </script>
  </body>
</html>
